body {
    font-family:"Barlow Semi Condensed",sans-serif;
    font-size: 1rem;
    background:#f3f1f7;
    width: 100%;
}


#wrapper {
    max-width: 1136px;
    margin: 0 auto;
}

#header {
    width: 100%;
    font-weight: 200;
    color: #3a3a3c;
    padding-bottom: 100px;
    padding-top: 40px;
}

h1 {
    font-size: 2.875rem;
    font-weight: 200;
    margin: 0;
    margin-left: -1px;
}

h2 {
    color: #699fc2;
    padding: 30px 0 20px 10px;
    font-weight: 200;
    font-size: 1.375rem;
    text-transform: uppercase;
}

#board-wrapper__lower h2{
    color: #fff;
}

h3 {
    color: #3a3a3c;
    font-weight: 200;
    font-size: 1.875rem;
}

.profile__header1{
    transform: rotate(90deg);
    margin-left: -105px;
    position: absolute;
    margin-top: 33px;
}

.profile__header2{
    transform: rotate(90deg);
    margin-left: -125px;
    position: absolute;  
    margin-top: 55px;
    color:#d9d9d9 !important;
    font-size: 30px;
    font-stretch: expanded;
}

 h2.profile__header1 {
    color: #d9d9d9;
    font-size: 30px;
}

.cardTitle {
    font-family:"Barlow Semi Condensed",sans-serif;
}

#accordion__wrapper {
    width: 100%;
    max-width: 1136px;
    margin: 0 auto;
    position: absolute;
}

#accordion {
   position: absolute;
   right: 0;
   width: 900px;
   top: 50px;
}

.accordion__card {
	background: transparent;
    border: none !important;
}

#accordion__heading {
	width: 310px;
	background: #d9d9d9;
    height: 44px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

#accordion_heading:visited {
	background: #f3f1f7;
	color: #000;
}

#accordion__heading h5 {
	text-align: center;
	font-size: 1rem;
	color: #fff;
}

.accordion__minus::after {
    content: "-";
    color: #fff;
    font-size: 30px;
    z-index: 99999;
    position: absolute;
    top: 2px;
    margin-left: 75px;
}

.accordion__plussign::after {
	content: "+";
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 2px;
    margin-left: 75px;
}

.accordion__heading_background {
	background:#464650 !important;
}
#accordion__body {
	padding: 10px 0px 0px 0px;
	background-color: #fff;
	padding: 40px;
	margin-top: 40px;
	position: relative;
	margin-bottom: 80px;
	z-index: 9999;
}

.button {
    font-family:"Barlow Semi Condensed",sans-serif;
    letter-spacing: 1.5px;
    height: 30px;
    width: 33.333%;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color:#d9d9d9;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    outline:none;
}

.button:hover {
    background-color: #fff;
    color: #3a3a3c;
};

button:active {
    border: none;
}

button:focus { outline:0 !important; }

.button:last-child {
    margin-right: 0px;
}

#button__wrapper {
    max-width: 968px;
    width: 100%;
    position: absolute;
    margin-top: -60px;   
    display: flex;
    justify-content: space-between;
}

.drag-start{
  opacity: 0.8;
}

.drag-enter{
  opacity: 0.5;
  transform: scale(0.9);
  color: #fff;
}

#date {
    color: #fff;
    position: absolute;
    margin-left: 20px;
    padding-top: 10px;
}

.board-wrapper {
    max-width: 968px;
    background:#3a3a3c ;
    height: calc(100%+300px);
    min-height: 300px;
    display: flex;	
    margin: 20px auto;
    color: #f3f3f3;
}

.board-wrapper:nth-child(2){
    background-color:#4f89b0;
    min-height: 500px;
    color: #fff;
}

.board-wrapper:nth-child(2) .cardTitle {
    border:2px solid #d9d9d9;
	padding: 10px;
}

.board {
    width: 33.333%;
    height:auto;
    display: block;
    margin: 20px;
}
		
*[draggable=true]
		{
			float:left;
			display: block;
			margin: 10px;
			width: 90%;
            min-height: 40px;
			font-weight:300;
			cursor: move;
			cursor: grab;
        }

		.board-wrapper .cardTitle {
			border:2px solid white;
			padding: 10px;
        }
        
        
		